#kch{
	bordeft: 6px solid green;
	background-c
	width:20%;
	height:30px;
	font-size: 21px;
}
#butt{
	font-size: 12px;
	border-radius: 7px;
	width: 15%;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,.19);
	background-color: rgb(130,130,130);
	height: 30px;


}
#demo{
	background-color: #FFFFFF;
	width: 20%;
	height:30px;
	border: 0.5px solid silver;
	border-radius: 8px;
	margin-left: 530px;

}
#rep{
	color: black;
	font-size: 20px;
	font-weight: bold;
}
#header{
	margin-top: 0px;
	padding: 7px;
	color: white;
	background-color: black;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
	position: absolute;
}
#frm , #to{
	border-le
	background-color: #F5F5DC;
	border-radius: 7px;

}
.main{
	background-image: url(try6.png);
	text-align: center;
}
.tex{
	color: black;
	font-weight: bold;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    width: 100%;
    margin-top: 0;
    top:0;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 8px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
body {
   margin: 0 0 20px;
  }
#footer {
    position: absolute;
    margin-bottom: 0;
    height: 35px;
    background: black;
    width: 100%;
    color:white;
  }
 * {
  	box-sizing:border-box;
  }